/* Global style definitions */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  width: 25px;
  padding-right: 6px;
}

.warning {
  color: #ed4147 !important;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  width: 140px;
  display: flex;
  justify-content: center;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 4px;
  border: 2px solid #a5a5a5;
  background-color: #e3e3e3;
  margin: 20px;
}

.upload-btn {
  width: 50%;
  align-self: center;
  height: 35px;
  color: white;
  background-color: #05d5ac;
  border: none;
  margin-top: 35px;
  cursor: pointer;
}

.close-btn {
  width: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 4px;
  border: 2px solid #a5a5a5;
  background-color: #e3e3e3;
  margin: 20px;
}

.settings-button {
  font-size: 19px;
  color: #f7f7f7;
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgb(50, 50, 50);
  border: none;
  border-radius: 5%;
  width: 80px;
  height: 50px;
  text-align: center;
  opacity: 38%;
  cursor: pointer;
}

.settings-button:hover {
  background: rgb(0 0 0);
}

.product {
  background: #ffffff;
  border: 2px solid #e1e1e1;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  width: 237px;
  height: 250px;
  margin: 10px;
}

.product-menu {
  position: absolute;
  top: 1px;
  right: 2px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  width: 55%;
  height: 74%;
}

.product-menu button {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d6d6d6; /* Apply to all initially */
  background: none;
  cursor: pointer;
  color: #40464a;
  font-size: 1.03em;
  display: flex;
  justify-content: flex-start;
  padding: 18px 0;
}

.product-menu button:last-child {
  border-bottom: none; /* Remove border for the last button */
}

.product-menu button:hover {
  background: #f0f0f0;
}